body {
width: 100%;
height: auto;
text-align: center;
background-image:url("https://raw.githubusercontent.com/IvanBoscoloGioachina/Counter/main/img/sfondo.webp");
background-repeat: no-repeat;
background-size: cover;
}
h1 {
    margin: 50px;
    text-align: center;
    font-family: 'Silkscreen', cursive;
    color: blue;
}

.calcolatrice{
    margin-top: 50px;
    text-align: center;
    font-family: 'Silkscreen', cursive;
}

.display {
    color: violet;
    font-size: 50px;
}